nav {
  margin-top: 25px;
  opacity: 1;
  position: fixed;
  color: #52345d; }
  nav li {
    display: inline-block;
    text-align: center;
    padding: 0 15px 0 15px; }

#first_section {
  background-image: url(../img/4.jpg);
  border-radius: 0 50% 50% 0;
  height: 750px;
  width: 1443px;
  margin-top: -30px;
  margin-left: -10px; }
  #first_section h1 {
    margin: 0 auto;
    font-size: 3em;
    text-align: center;
    font-family: "Hind", sans-serif;
    font-weight: lighter;
    padding-top: 300px;
    color: #d2d0d4; }
  #first_section #first_section_btn {
    border-radius: 0;
    color: #52345d;
    border-color: #52345d;
    background: none;
    margin-top: 50px;
    margin-left: 650px;
    width: 150px;
    height: 50px; }

#tours {
  height: 800px; }
  #tours h2 {
    font-family: "Hind", sans-serif;
    color: black;
    font-weight: lighter;
    text-align: center; }
  #tours .container {
    margin-bottom: 50px;
    margin-left: 360px;
    width: 725px;
    height: 200px;
    box-shadow: 0 0 12px 0 rgba(61, 55, 61, 0.7);
    display: flex; }
    #tours .container #img_1, #tours .container #img_2, #tours .container #img_3 {
      height: 200px;
      width: 200px;
      margin-right: 20px;
      background-image: url(../img/5.jpeg);
      background-size: 200px 200px;
      background-repeat: no-repeat; }
    #tours .container #img_2 {
      background-image: url(../img/6.jpg); }
    #tours .container #img_3 {
      background-image: url(../img/7.jpg); }
    #tours .container .content {
      width: 525px;
      color: #a78aa3; }
      #tours .container .content h3 {
        margin-bottom: 0;
        text-align: center;
        font-family: "Hind", sans-serif;
        font-weight: lighter; }
      #tours .container .content p {
        padding: 0;
        font-size: small; }

#reviews {
  background-color: #8a6f8d;
  margin-left: 150px;
  width: 1100px;
  height: 200px;
  text-align: center; }
  #reviews h3 {
    margin-bottom: 0;
    padding: 10px;
    font-family: "Hind", sans-serif;
    font-weight: lighter;
    color: #caa2cb;
    font-size: xx-large; }
  #reviews #review_container {
    display: flex; }
    #reviews #review_container .review_item {
      background-color: #caa2cb;
      width: 345px;
      height: 100px;
      margin: 10px 15px 0 15px;
      display: flex; }
      #reviews #review_container .review_item .review_img {
        border-radius: 50%;
        width: 86px;
        height: 86px;
        margin: 10px; }
      #reviews #review_container .review_item p {
        color: white;
        text-align: left;
        font-size: small; }
        #reviews #review_container .review_item p span {
          font-style: italic; }

#forms {
  background-color: #9f86a2;
  width: 725px;
  height: 100px;
  margin-left: 360px; }
  #forms h2 {
    text-align: center;
    font-family: "Hind", sans-serif;
    font-weight: lighter;
    color: #4e2946;
    padding-top: 30px;
    margin-bottom: 0; }
  #forms .find_tour_field {
    margin-left: 15px;
    border-top: none;
    border-right: none;
    border-left: none;
    background: none;
    color: #685667;
    border-color: #685667;
    font-size: smaller;
    width: 100px; }
  #forms #country_field, #forms #passengers_field {
    margin-left: 65px;
    margin-right: 65px; }

footer {
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -5px;
  margin-bottom: -10px;
  background-color: #5d3d85;
  display: flex; }
  footer .footer_container {
    margin: 0 20px 0 20px; }
  footer #follow_us {
    width: 450px; }
    footer #follow_us h6 {
      margin-top: 10px;
      color: #b761f1; }
    footer #follow_us p {
      font-size: smaller;
      color: #511264; }
  footer #where_to_go, footer #info {
    width: 225px; }
    footer #where_to_go h6, footer #info h6 {
      margin-top: 10px;
      margin-bottom: 0;
      color: #b761f1;
      text-align: left; }
    footer #where_to_go ul, footer #info ul {
      padding: 0;
      margin-top: 0;
      list-style-type: none;
      color: #b761f1;
      font-size: smaller;
      text-align: left; }
  footer #footer_form h6 {
    margin-top: 10px;
    margin-bottom: 10px; }
  footer #footer_form input {
    width: 442px;
    margin-top: 10px;
    display: block; }
  footer #footer_form button {
    margin-top: 10px;
    width: 450px;
    background-color: #511264;
    border-color: #511264; }

.logo {
  margin-left: 5px;
  margin-right: 5px;
  height: 20px;
  width: 20px; }

#visa {
  width: 30px; }

#mastercard, #gpay {
  width: 35px; }
