$bg_image: url(../img/0.jpg);
$nav_txt_color: #d2d2d4;
$bg_image_nav1: url(../img/1.jpg);
$bg_image_nav2: url(../img/2.jpg);
$bg_image_nav3: url(../img/3.jpg);
$font_color: #7787a1;
$bg_color_view: #8d6f79;
$bg_color_view_item: #cba2b0;
$bg_color_form: #8695a2;
$txt_color_form: #c1d0da;
$field_color_form: #777376;
$bg_color_footer: #3d5585;
$txt_color_footer1: #5188f3;
$txt_color_footer2: #1f3a72;
