$bg_image: url(../img/4.jpg);
$nav_txt_color: #52345d;
$bg_image_nav1: url(../img/5.jpeg);
$bg_image_nav2: url(../img/6.jpg);
$bg_image_nav3: url(../img/7.jpg);
$font_color: #a78aa3;
$bg_color_view: #8a6f8d;
$bg_color_view_item: #caa2cb;
$bg_color_form: #9f86a2;
$txt_color_form: #4e2946;
$field_color_form: #685667;
$bg_color_footer: #5d3d85;
$txt_color_footer1: #b761f1;
$txt_color_footer2: #511264;